body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    /*font-weight : bold;*/
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    /*font-weight : bold;*/
    text-decoration : underline;
}

td.logo{
    width: 100px;
}

#prods.header{
    background: white;
    font-weight: bold;
}
div.headerProductos > div:first-child{
    background-color: white;
    background: white;
    color: black;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px;
    border: none;
}

.detallesProductos{
    text-align: left;
    color: #527dbb;
}

#formProductos tbody tr:last-child td{
    text-align: right;
    position: relative;
    bottom: 15px;
}

.marcaProducto{
    color: #527dbb; 
}

.nombreProducto{
    font-weight: 600;
}

.precioProducto{
    margin-top: 15px;
    color: black;
}

#formCarrito.precioProducto{
    margin-top: 0;
    text-align: right;
}

#formCarrito td.detail{
    width: 50%;
}

.fondoCeleste{
    background-color:#ddeeff2e;
}

#divFooter {font-family: 'Open Sans', sans-serif; background-color: rgb(18, 18, 18); color: rgb(180, 173, 173); padding-top: 32px; line-height: 23px; font-size: 12px; text-transform: none; background-image: url(backgrounds/noisy_net.png); background-repeat: repeat repeat;}

#divFooter a {color: rgb(132, 164, 51);}

#divFooter h3 {color: rgb(180, 173, 173);}

#divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}

#divBoxed > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}
